BasedOnStyle: LLVM

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 90
Cpp11BracedListStyle: true
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<.*'
    Priority:        1
    SortPriority:    1
    CaseSensitive:   true
  - Regex:           '.*'
    Priority:        2
    SortPriority:    2
IndentWidth: 4
MaxEmptyLinesToKeep: 1
PenaltyBreakBeforeFirstCallParameter: 10
PenaltyBreakOpenParenthesis: 10000
PenaltyExcessCharacter: 1000
PenaltyReturnTypeOnItsOwnLine: 9999999
PointerAlignment: Left
SeparateDefinitionBlocks: Always
UseTab: Never
