[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/magic_enum"]
	path = 3rdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "3rdparty/gtest"]
	path = 3rdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/thread_pool"]
	path = 3rdparty/thread_pool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "3rdparty/quill"]
	path = 3rdparty/quill
	url = https://github.com/odygrd/quill.git
